.groups {
    padding: 70px 2rem 2rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}

.groups-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--colg);
}

.groups-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 600px) {

    .groups {
        padding: 1rem;
        margin-top: 50px;
    }
}